<h1>About us</h1>
<p> We're a group of golfers tired of playing with the same people, so we created this site that allows us to not only play with other people, but helps creates friendships we otherwise wouldn't have. </p>